[submodule "src/opencilk"]
	path = src/opencilk
	url = git@github.com:opencilk/opencilk-project
[submodule "src/cilktools"]
	path = src/cilktools
	url = git@github.com:OpenCilk/productivity-tools
[submodule "src/cheetah"]
	path = src/cheetah
	url = git@github.com:kyle-singer/cheetah
